/build/
/nbproject/private/
/dist/
.xml
archivos/programas.xml
build/web/WEB-INF/glassfish-web.xml
nbproject/genfiles.properties
nbproject/build-impl.xml
build/web/WEB-INF/glassfish-web.xml
nbproject/genfiles.properties
build/web/gfv3ee6.dpf
build/web/WEB-INF/classes/.netbeans_automatic_build
build/web/WEB-INF/classes/.netbeans_update_resources
build/web/WEB-INF/classes/NewServlet.class
nbproject/build-impl.xml
nbproject/genfiles.properties 
nbproject/ant-deploy.xml
nbproject/private/private.properties
nbproject/project.properties
*.properties
